:root {
  --primary: #009fd9;;
  --secondary: #ffbd0f;
  --tertiary: #fc6b02;
  --quaternary: #555555;
  --heading-size: 25px;
  font-family: 'Belanosima', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  display: flex;
  justify-content: center;
  margin: 2%;
  background: var(--quaternary);
  font-size: 16px;
  line-height: 22px;
  color: var(--quaternary);
}

p {
  font-weight: 100;
  font-size: 15px;
  font-style: italic;
}

.gh-enlace {
  color: inherit;
  text-decoration: none;
}

.bold {
  font-weight: 500;
  font-size: 28px;
  font-style: normal;
}

.Experience, .Education {
  color: var(--primary);
  font-weight: 500;
  font-size: 28px;
  font-style: normal;
  margin-bottom: 40px;
}

.date {
  font-weight: 500;
  font-size: 28px;
  font-style: normal;
}

.name {
  font-weight: 200;
  font-size: 75px;
}

.myname {
  font-weight: bold;
  font-size: 40px;
  color: var(--primary);
  margin: 2% 0;
}

.semi-bold {
  font-weight: bold;
  font-size: 14px;
  font-style: normal;
}

.moka {
  font-weight: bold;
  font-size: 14px;
  font-style: normal;
  color: white;
  margin-top: 2px;
}

.resume {
  width: 800px;
  height: auto;
  display: flex;
  
}

.resume .resume_left {
  width: 280px;
  background: linear-gradient(180deg, rgba(0,159,217,1) 0%, rgba(0,121,164,1) 85%, rgba(1,104,142,1) 100%);
}

.resume .resume_left .resume_profile {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 280px;
}

.resume .resume_left .resume_profile img {
  margin-top: 10%;
  width: 85%;
  height: 85%;
}

.resume .resume_left .resume_content {
  padding: 0 25px;
}

.resume .title {
  margin-bottom: 6px;
}

.resume .resume_left .bold {
  color: #fff;
  font-size: 24px;
  text-shadow: 2px 4px 2px rgba(0, 0, 0, 0.5);
}

.resume .resume_left .regular {
  color: #e7f9ff;
}

.resume .resume_item {
  padding: 25px 0;
  border-bottom: 2px solid #e7f9ff;
}

.resume .resume_left .resume_item:last-child,
.resume .resume_right .resume_item:last-child {
  border-bottom: 0px;
}

.resume .resume_left ul li {
  display: flex;
  margin-bottom: 1px;
  align-items: center;
}

.resume .resume_left ul li:last-child {
  margin-bottom: 0;
}



.resume .icon i,
.resume .resume_right .resume_hobby ul li i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.resume .resume_left ul li .data {
  margin-top: 2%;
  color: #e7f9ff;
  font-size: 15px;
}
.resume .resume_left .resume_skills ul li {
  display: flex;
  color: #e7f9ff;

}

.resume .resume_left .resume_skills ul li .skill_name {
  width: 25%;
  
}

.resume .resume_left .resume_skills ul li .skill_per {
  width: 15%;
}

.resume .resume_left .resume_skills ul li .skill_progress span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #fff;
}

.resume .resume_left .resume_social .semi-bold {
  color: #fff;
  margin-bottom: 1px;
}

.resume .resume_right {
  width: 520px;
  background: #fff;
  padding: 25px;
}

.resume .resume_right .bold {
  color: var(--primary);
}

.resume .resume_right .resume_work ul,
.resume .resume_right .resume_education ul {
  padding-left: 40px;
  overflow: hidden;
}

.resume_work {
  margin: 12% 0%;
}

.resume .resume_right ul li {
  position: relative;
}

.resume .resume_right ul li .date {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 15px;
}

.resume .resume_right ul li .info {
  margin-bottom: 20px;
}

.resume .resume_right ul li:last-child .info {
  margin-bottom: 0;
}

.resume .resume_right .resume_work ul li:before,
.resume .resume_right .resume_education ul li:before {
  content: "";
  position: absolute;
  top: 5px;
  left: -25px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: 2px solid var(--tertiary);
}

.resume .resume_right .resume_work ul li:after,
.resume .resume_right .resume_education ul li:after {
  content: "";
  position: absolute;
  top: 15px;
  left: -21px;
  width: 2px;
  height: 107%;
  background: var(--secondary);
}

.qr img {
  max-height: 160px;
  width: auto;
  display: block;
  margin: 0 auto;
  margin-top: 5px;
}

.qr a { 
  display: block;
  margin-top: 5px;
  text-align: center;
}


.resume_item.resume_skills ul {
  display: flex;
  justify-content: space-between;
  gap: 12.9px;
  flex-wrap: wrap;
  list-style-type: disc;
}

.resume_item.resume_skills ul li{
  list-style-position: outside;
}